<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">

    <h2 class="text-center text-primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <input 
        [class.is-invalid]='registerForm.get("username").errors && registerForm.get("username").touched'
        type="text" 
        formControlName="username" 
        placeholder="Username"
        class="form-control" 
        >
        <div  class="invalid-feedback">Please enter a username </div>
    </div>
    <div class="form-group mt-3">
        <input 
        [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched'
        type="password"
         formControlName="password"
          placeholder="Password"
            class="form-control" >
            <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Please enter a password </div>
            <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback"> password must be at least 4 characters </div>
            <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback"> password must be at most 8 characters </div>

    </div>
    <div class="form-group mt-3">
        <input 
        [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
        type="password" 
        formControlName="confirmPassword" 
        placeholder="Confirm Password"  
        class="form-control" >
        <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Please enter a confirm password </div>
        <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback"> Confirm password must match password </div>
    </div>



    <div class="form-group text-center mt-3">
<button class="btn btn-success me-2" type="submit">Register</button> 
<button class="btn btn-default me-2" type="button" (click)="cancel()">Cancel</button> 

</div>
</form>


<p>Form value : {{registerForm.value | json}}</p>
<p>Form status : {{registerForm.status | json}}</p>